@font-face {
    src: url("fonts/OpenSans-Regular.ttf");
    font-family: "OpenSans-Regular";
}
@font-face {
    src: url("fonts/OpenSans-Italic.ttf");
    font-family: "OpenSans-Italic";
}
@font-face {
    src: url("fonts/OpenSans-Bold.ttf");
    font-family: "OpenSans-Bold";
}
body {margin: 0;
      background-color: #e0e0e0;
      font-family: "OpenSans-Regular", "OpenSans-Italic", 
      "OpenSans-Bold", helvetica, areal, sans-serif;
}
.header {width: 100vw;
         height: 48px;
         background-color: #000000;
}
.navbar {text-align: center;
}
.navbar a {display: inline-block;
           text-decoration: none;
           text-transform: uppercase;
           padding: 14px 25px;
           color: #e0e0e0;
           font-size: 15px;
           font-weight: bold;
}
.navbar a:hover {background-color: #ff3f40;
}
.main {margin: 0px auto;
      margin-top: 30px;
      width: 1000px;
      display: flex;    
}
.aside {margin-bottom: 20px;}
.section {margin-left: 30px;}
.phone {display: flex; 
        align-items: center;}
.email {display: flex; 
        align-items: center;}
.social {display: flex; 
        align-items: center;}
.phone1 {margin-right: 15px;
         margin-left: 15px;}
.email1 {margin-right: 15px;
         margin-left: 15px;}
.social1 {margin-right: 15px;
          margin-left: 15px;}

.img {background-color: gray;
      padding: 20px;
      text-align: center;
      padding-bottom: 14px;
}
.img1 {border: solid white 1px;
}
.footer {padding: 20px;
      text-align: center;
      }
.zagolovok {text-align: center;}
.zagolovki {border-left: 5px solid chocolate;
            padding-left: 10px;
            color: #4c4646;
            margin-top: 30px;
}